/* Make awesome error page! */

html, body { height: 100%; }

body {
    letter-spacing: 0.02em;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
}

section.main .container { padding-top: 30px; padding-bottom: 50px; max-width: 750px; }
