/* 
Make something awesome!
---

color scheme primary: #DA2E75
*/

html>body {
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
    background-color: #FAFAFA;
}

.mdl-textfield__input {
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}

/*
Rules for sizing the icon.
http://google.github.io/material-design-icons/
*/
.material-icons.md-text { font-size: 90%; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Uses a transparent header that draws on top of the layout's background */
.demo-layout-transparent {
    background:
        /*url('../images/tiles/sayagata-400px.png');*/
        url('../images/asanoha-400px/asanoha-400px.png');
    /*background-color: #F0F1EB;*/
}

.demo-layout-transparent-home {
    background:
        url('../images/tumblr_oan67aYRRE1qinh1vo1_12801.jpg');
    background-size: cover;
    background-position: 25% 50%;
}

.flex-flow-row-wrap { flex-flow: row wrap; }

.max-width { width: 100% !important; }

.bg-cover {
    background-color: #f9f9f9;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-cover-transparent { background-color: transparent; }

/*
Twitter Emoji
*/
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

/*
Bootstrap elements
*/
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

/*
Custom
*/
dialog::backdrop { opacity: .75; background: #333 url(../images/overlays.png); }


/**
 * Handling Long Words and URLs (Forcing Breaks, Hyphenation, Ellipsis, etc)
 * https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
 */
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/**
 * Preventing Overflow with Ellipsis
 */
.ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
 * Example
 */
.hyphenate {
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/**
 * Make “Pre” Text Wrap
 * https://css-tricks.com/snippets/css/make-pre-text-wrap/
 */
.pre-wrap {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}