/* Make something awesome! */

/* -- color scheme 
@brand-primary:           #DA2E75

@gray-darker:             lighten(@gray-base, 13.5%)  // #222222
@gray-dark:               lighten(@gray-base, 20%)    // #333333
@gray:                    lighten(@gray-base, 33.5%)  // #555555
@gray-light:              lighten(@gray-base, 46.7%)  // #777777
@gray-lighter:            lighten(@gray-base, 93.5%)  // #eeeeee
// f9f9f9
*/

/* Sticky footer styles
http://getbootstrap.com/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}
body>footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
}

body {
    /*letter-spacing: 0.01em;*/
    white-space: normal;
    word-wrap: break-word;
    /*word-break: break-all;*/
    /*text-rendering: optimizeLegibility;*/
}

.white-space {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
}
/*
-------------------------------------------------- */

body>footer {
    /*font-size: 12px;*/
    color: #777777;
    /*margin-top: 50px;*/
    padding-top: 20px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child,
.h1:first-child, .h2:first-child, .h3:first-child, .h4:first-child, .h5:first-child, .h6:first-child { margin-top: 0; }

video { width: 100% !important; height: auto !important; }


/*@media (max-width: 767px)  { .container { max-width: 500px; } }*/
/*@media (min-width: 768px)  { .container { width:     768px; } }*/

/*@media (max-width: 767px)  { .container { max-width: 650px; } }
@media (min-width: 1200px) { .container { width: 1020px; } }*/

@media (min-width: 1200px) { .container { width: 1020px; } }

section.main .container-slim { max-width: 500px; }

.modal-dialog { max-width: 500px; }
@media (min-width: 499px) { .modal-dialog { margin: 30px auto; } }

.modal-lg { max-width: 750px; }

/*.modal-header { background-color: #333; color: #fff; }*/
/*.modal-header .close { opacity: .8; text-shadow: none; color: #fff; }*/
.modal-backdrop.in { opacity: .9; background: #333 url(../images/overlays.png); }
.modal-header { border: 0; }
.modal-footer { border: 0; }

* { 
    outline: none !important; 
    /*border: 0 !important;*/
    -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

/* No Border */
input, textarea, pre,
.alert, .well, .btn, .input-group-addon, .dropdown-menu, .list-group-item, .modal-content, .panel, .panel-body { border: 0 !important; }

input, textarea, select, .input-group-addon,
input:focus, textarea:focus, select:focus, input:active { border: 0 !important; }

.link-dark { color: #333333; } .link-dark:hover { color: #DA2E75; }
.link-light { color: #777777; } .link-light:hover { color: #DA2E75; }
.link-light-inverse { color: #777777; } .link-light-inverse:hover { color: #333333; }
.link-transparent:hover { opacity: 0.8 }
.link-like { color: #DA2E75; } .link-like:hover { color: #DA2E75; }

.full-width { width: 100% !important; }
.full-height { height: 100% !important; }
.full-size { width: 100% !important; height: 100% !important; }
.full-height-min { min-height: 100% !important; }

.steps .progress { height: 2px; }
.steps .progress-bar { line-height: 2px; }

.bg-cover {
    background-color: #f9f9f9;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-cover-transparent { background-color: transparent; }

.bg-photo-holder {
    /*width: 100%; height: 100%;*/
    /*background: #111 url(../img/noise-black.png) 50% 50%; background-image: url(../img/profile-header-gradient.png),url(../img/noise-black.png);*/
    /*background: #eee url(../img/checkerbg.gif) top left;*/
    background-color: #f9f9f9;
    /*text-align: center;*/
}

.img-center { margin: 0 auto; }

.text-first-letter-capitalize { display: block; }
.text-first-letter-capitalize:first-letter { text-transform: uppercase; }

/*.btn:hover, .btn:active, .btn:focus { background-color: #777777; }*/

.nav>li>a { color: #555555; }
.nav-pills>li>a { background-color: #f9f9f9; }
.nav-stacked>li>a { background-color: transparent; }
/*.nav-tabs>li>a { color: #555555; }*/


/*.nav-tabs.nav-stacked>li+li { margin-top: 0; }*/
@media (min-width: 768px) { 
    .nav-justified>li { padding-right: 1px; padding-left: 1px; } 
    .nav-justified>li:first-child { padding-left: 0px; }
    .nav-justified>li:last-child { padding-right: 0px; }
}
.nav-justified-xs>li { display: table-cell; width: 1%; }
@media (max-width: 767px) {
    .nav-justified-xs>li { padding-right: 1px; padding-left: 1px; } 
    .nav-justified-xs>li:first-child { padding-left: 0px; }
    .nav-justified-xs>li:last-child { padding-right: 0px; }
}

.nav-tabs.nav-justified>li>a { border: none !important; }
/*.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    background-color: #ffffff; color: inherit; }
*/
/*.list-group-item { background-color: #f9f9f9; }*/
/*.list-group>.list-group-item+.list-group-item { margin-top: 2px; margin-left: 0; }*/

.btn-75px { width: 75px; } .btn-80px { width: 80px; } .btn-90px { width: 90px; } .btn-100px { width: 100px; }

.truncate {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;

    /*width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/

    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}

section.main>.container { padding-bottom: 30px; }

header .navbar-collapse { max-height: none !important; }

header .navbar-default, .dropdown-menu {
    background-color: #ffffff;
}
header .navbar { border-width: 0px; padding-top: 20px; }

header .navbar-default .navbar-nav li a { text-transform: uppercase; }
/*header .navbar-default .navbar-nav>li>a {
    color: #777777; background-color: #ffffff;
}*/
header .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555555;
    background-color: #ffffff;
}
header .navbar-default .navbar-nav>.active>a {
    color: #555555;
    background-color: #ffffff;
}
header .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #555555;
    background-color: #eeeeee;
}
.dropdown-menu {
    background-color: #eeeeee;
}
.dropdown-menu>li>a { color: #555555; }
.dropdown-menu>li>a:hover {
    color: #555555;
    background-color: #ddd;
}
header .navbar-brand {
    padding: 5px 15px;
}

@media (max-width: 767px) {
    header .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777777;
    }
}

header .navbar-default .navbar-toggle {
    border: 0;
}
header .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
header .navbar-default .navbar-toggle .icon-bar {
    background-color: #777777;
    width: 30px;
}
.dropdown-menu .divider {
    background-color: #777777;
}

@media (min-width: 768px) { .navbar-form { width: 420px; } }
.navbar-form .form-group, .navbar-form .form-control { width: 100% !important; }
.navbar-form { border: none; }

/*header .navbar-collapse { background-color: #777777; color: #555555; }*/

/*header ul.nav li.dropdown:hover > ul.dropdown-menu { display: block; }*/

/*.head-padding { padding-top: 70px; }*/

.notif-count { left: 30px; position: absolute; top: 13px; z-index: 999; }

.label-default-2 { color: inherit; }

.badge { border-radius: 1px; }

.team .media { padding-bottom: 20px; }

/*.infinite-container .infinite-item:first-child .media:first-child { margin-top: 0; }
.media-body .media:first-child { margin-top: 0; }
.media:first-child { margin-top: 15px; }*/


.post-item-unseen { border-bottom: 1px solid #DA2E75; }


.share-icons .nav-justified>li {
    display: table-cell;
    width: 1%;
    padding-right: 1px;
    padding-left: 1px;
}
/*.social-nav .nav-justified>li { display: table-cell; width: 1%; }*/
/*.social-nav .nav-tabs.nav-justified>li a:hover { border-bottom: none; }*/

.social-nav .num { margin-right: 3px; width: 55px; }
.social-nav .num a { padding: 10px 10px; text-align: center; }

.player-area:hover { cursor: pointer !important; cursor: hand !important; }

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #DA2E75 !important;
}

.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
    border-top-color: transparent;
}

.user-link-icons { padding-right: 15px; }
.user-link-icons i { vertical-align: 50%; }

.ias-trigger { display: block; padding: 5px 10px;
        /*font-size: 14px;*/
        line-height: 1.5;
        border-radius: 0; background-color: #f9f9f9; margin-bottom: 20px; }
.ias-trigger a { color: #333; }

.post-media-object { margin-bottom: 20px; }

.post-text-object .lead { margin-bottom: 5px; }
.post-text-object .media { margin-top: 2px; }
.post-text-object { margin-top: 10px; margin-bottom: 20px; }

/*.font-weight-lightest { font-weight: 100 }
.font-weight-lighter { font-weight: 200 }
.font-weight-light { font-weight: 300 }
.font-weight-bold { font-weight: 500 }
.font-weight-bolder { font-weight: 500 }*/

/*.header-user h1 { font-size: 32px; }*/
.header-user { margin-top: 30px; margin-bottom: 10px; }

.post-media-icon {
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.img-margin-bottom-20 { padding-bottom: 20px; }

.landing-jumbotron {
    background: url(../images/home/9-squares-dotdotdot-dstanfield-final-dribbb.gif);
    /*background: #333 url(../images/home/9-squares-dotdotdot-dstanfield-final-dribbb.gif) no-repeat center center fixed;
    background-size: cover;*/
    color: white;
    height: 600px;
}