/* 

Make something awesome!
---
color scheme primary: #DA2E75

*/

html>body, .mdl-textfield__input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.mdl-card__media {
    background-color: transparent;
}

/*
Rules for sizing the icon.
http://google.github.io/material-design-icons/
*/
.material-icons.md-text { font-size: 90%;  }
.material-icons.md-18   { font-size: 18px; }
.material-icons.md-24   { font-size: 24px; }
.material-icons.md-36   { font-size: 36px; }
.material-icons.md-48   { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/*
demo-layout--none
demo-layout-transparent
demo-layout-waterfall
demo-layout--fixed-drawer
*/

/*
<!-- Uses a transparent header that draws on top of the layout's background -->
 */
.home-layout-transparent.mdl-layout {
    background: url('../third-party/unspalsh.com/joel-filipe-151692.jpg') center / cover;
}

/**
 * 
 * https://codepen.io/peiche/pen/PPPRgz
 * 
 */
.home-layout-transparent .mdl-layout__header {
    /*add background transition*/
    transition-property: max-height, box-shadow, background;
}

.home-layout-transparent .mdl-layout__header.is-casting-shadow {
    /*override initial background when scrolling*/
    background-color: #fff;
}

.home-layout-transparent .is-focused .mdl-textfield__input {
    border-color: #fff;
}

.home-layout-transparent .mdl-layout__header-row {
    padding-left: 40px;
}

.home-layout-transparent.is-small-screen .mdl-layout__header-row {
    padding-left: 60px;
}

/*
<!-- Uses a header that contracts as the page scrolls down. -->
 */
.home-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
}

.auth-layout-transparent {
    /*background: url('../third-party/getmdl.io/transparent.jpg') center / cover;*/
    background: url('../third-party/toptal.com-subtlepatterns/struckaxiom.png');
}
.auth-layout-transparent .mdl-grid {
    max-width: 1080px;
    margin-top: 2.5%;
}

.demo-layout-transparent {
    background: url('../third-party/toptal.com-subtlepatterns/hip-square.png');
}


/*
demo-card-square
demo-card-wide
demo-card-event
 */
.auth-card-square > .mdl-card__title {
    height: 300px;
    background:
        url('../third-party/tumblr.com/tumblr_oan67aYRRE1qinh1vo1_12801.jpg') center / cover;
    background-position: 25% 50%;
}

.demo-card-square > .mdl-card__title {
    height: 500px;
    background:
        url('../third-party/tumblr.com/tumblr_oan67aYRRE1qinh1vo1_1280.jpg') center / cover;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.demo-card-error {  }

/*
Twitter Emoji
*/
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

/*
Bootstrap elements
*/
.pull-left  { float:  left !important; }
.pull-right { float: right !important; }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Handling Long Words and URLs (Forcing Breaks, Hyphenation, Ellipsis, etc)
 * https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
 */
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/**
 * Preventing Overflow with Ellipsis
 */
.ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
 * Example
 */
.hyphenate {
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/**
 * Make “Pre” Text Wrap
 * https://css-tricks.com/snippets/css/make-pre-text-wrap/
 */
.pre-wrap {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/**
 * Custom
 */
dialog::backdrop { opacity: .75; background: #333 url(../images/overlay/dot.png); }

.flex-flow-row-wrap { flex-flow: row wrap; }

.full-width { width: 100% !important; }
.img-fluid  { max-width: 100%; }

.bg-cover {
    background-color: transparent;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-cover-transparent { background-color: transparent; }